body {

	background-image: url("../images/bbBackground.jpg");
	color: rgb(80,23,23);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bbtrivia{

	font-size: 85px;
	color: white;
	font-weight: bold;

	margin-top: 3%;
	margin-bottom: 3%;
}



#start_button{

	margin-top: 8%;

	height: 75px;

	width: 250px;

	font-size: 30px;

	border-style: solid;
	border-width: 2px;
	border-color: black;

	border-radius: 10px;
}




#timer_line{
	margin-bottom: 50px;
}

h1{
	font-size: 26px;
	margin-bottom: 10px;
	margin-top: 30px;
}


#done_button{

	margin-top: 5%;

	height: 75px;
	width: 250px;

	font-size: 30px;

	border-style: solid;
	border-width: 2px;
	border-color: black;

	border-radius: 10px;
}
